h1 {
  font-size: 6rem !important;
}

.App {
  text-align: center;
  animation: fade 6s ease forwards; 
}



/*import roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*second font import*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}


.App-header {
  background:linear-gradient(0deg,rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url(https://i.imgur.com/t8Eaxx4.jpeg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Serif Text";
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #003a56;
}



/*scroll*/
@keyframes fade{
  from{
    opacity:0;
  }
  to{
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate();
  }
  100% {
    transform: translate();
  }
}
