/*button*/

.button {
    border-radius: 10px;
    background-color: #24A1DE;
    background: linear-gradient(#050505,#000000);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    font-family: "DM Serif Text", sans-serif;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /*more button */
  /* Animation property */
  button {
    animation-name: wiggle;
    animation-duration: 4s;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  /* Keyframes */
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    10% {
      transform: rotateZ(-6deg);
    }
    12% {
      transform: rotateZ(4deg);
    }
    14% {
      transform: rotateZ(-4deg);
    }
    16% {
      transform: rotateZ(2deg);
    }
    18% {
      transform: rotateZ(-2deg);
    }
    20%, 100% {
      transform: rotateZ(0);
    }
  }
  
  body {
    background: #000;
  }