.bubble-child {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 500px;
  height: 600px;
  block-size: 400px;
}

/* .bubble {
  height: 700px;
  width: 1200px;
  resize: both;
  overflow: auto;
} */
