.bubble-child {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  width: 22%;
  height: 650px;
}

/* .bubble {
  height: 700px;
  width: 1200px;
  resize: both;
  overflow: auto;
} */
